.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.carousel-item img {
  width: 400px;
  margin-top: 120px;
}
.first img {
  width: 410px;
  height: 420px;
}

.carro {
  display: flex;
  justify-content: center;
  width: 100%;
}

#carouselExampleCaptions {
  display: flex;
  align-items: center;
}

/* .conteudo p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  width: 220px;
  line-height: 30px;
} */

/* .conteudo img {
  width: 1000px;
} */

h1 {
  position: relative;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  background: linear-gradient(to left, #0008ff 0%, #8300b3 100%);
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
}

.content-box button {
  margin-left: 15px;
}

.content-box p {
  width: 300px;
  text-align: center;
}

.produtos-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}

.produtos-content img {
  width: 60%;
}

.produtos-content button {
  background: linear-gradient(to left, #0008ff 0%, #8300b3 100%);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: ease-in-out 0.4s;
  color: white;
}

.produtos-content button:hover {
  background: linear-gradient(to bottom right, #3366ff 0%, #ff0000 100%);
  color: white;
}

article {
  height: 43vh;
}

article p {
  font-size: 3rem;
}

article span {
  color: #003840;
  background-color: #f88f06;
  font-size: 2em;
}

/* Animação da logo */
.image-float img {
  width: 250px;
  background: linear-gradient(to left, #0008ff 0%, #8300b3 100%);
  border-radius: 50%;
  position: relative;
  animation: mymove 5s infinite;
}

.image-float img:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.307);
  transition: all ease-in-out 0.3s;
}

@keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 50px;
  }
  75% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}

.sobre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sobre p {
  text-align: center;
  font-size: 1.2rem;
  width: 600px;
}

.suporte {
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-de-envio {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px;
  width: 640px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.5s;
}

.area-de-envio button {
  margin-top: 10px;
  background: linear-gradient(to left, #0008ff 0%, #8300b3 100%);
  color: #ffff;
  padding: 20px 60px 20px 60px;
  border: none;
  border-radius: 5px;
}

.area-de-envio button:hover {
  background: linear-gradient(to bottom right, #3366ff 0%, #ff0000 100%);
}

.area-de-envio:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.528);
}

#email {
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  line-height: 0;
  font-size: 1.5rem;
}

input[type="text"] {
  height: 200px;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
}

/* Responsivo */
@media only screen and (max-width: 600px) {
  .conteudo p {
    text-align: center;
    font-size: 1.6rem;
    width: 400px;
  }
  .conteudo img {
    width: 70%;
  }
  .produtos-content {
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }
  .produtos-content img {
    width: 60%;
  }
  .produtos-content img {
    width: 60%;
  }
  .produtos-content {
    display: flex;
    flex-direction: column;
  }
  .image-float img {
    width: 410px;
    position: relative;
    animation: mymove 5s infinite;
  }

  @keyframes mymove {
    0% {
      left: 0px;
    }
    25% {
      left: 50px;
    }
    75% {
      left: 100px;
    }
    100% {
      left: 0px;
    }
  }
  .sobre {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
  }
  .sobre p {
    text-align: center;
    width: 320px;
    font-size: 1rem;
  }
  .suporte {
    text-align: center;
  }
  .area-de-envio {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 10px;
    width: 620px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #email {
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    line-height: 0;
    font-size: 1.5rem;
  }

  input[type="text"] {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .image-float img {
    width: 180px;
    position: relative;
    animation: mymove 5s infinite;
  }
}
